* {
    margin: 0px;
    padding: 0px;    
    font-family: "Inter";
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  pointer-events: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-moz-selection {
    background: #8B9BC2;
}
  
::selection { 
    background: #8B9BC2;
}

body {
    display: flex;
    background-color: #1E222B;
    overflow: hidden;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

#mainBox {
    width: 100%;
    min-width: 600px;
    height: 100vh;
    min-height: 600px;
}

#gap {
    width: 4px;
    min-width: 4px;
    height: 100vh;
    position: relative;
    z-index: 1;
    background-color: #1E222B;
}

.headerUI {
    width: 100%;
    height: 46px;
    max-height: 46px;
    min-height: 46px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #282F3D;
    position: relative;
    z-index: 1;
}

#bodyUI {
    width: 100%;
    height: 94.6%;
    min-width: 600px;
    display: flex;
    background-color: #1E222B;
}

#toolbox {
    z-index: 2;
    width: 70px;
    height: 100%;
    background-color: #2E3646;
}

.tool {
    width: 70px;
    min-width: 70px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    cursor: pointer;
}

.tool svg{
    margin: auto;
    cursor: pointer;
}

#toolmenu {
    width: 280px;
    min-width: 280px;
    height: 100%;
    background-color: #363F52;
    z-index: 1;
    transition: .3s;
    visibility: hidden;
    overflow: hidden;
}

.menu {
    width: 100%;
    height: 100%;
    padding-bottom: 54px;
    overflow: hidden;
}

.pnlHeader {
    width: 280px;
    height: 70px;
    display: flex;
    background-color: #363f52;
}

.configScroll {
    width: 264px;
    height: auto;
    margin-left: 1em;
    overflow-x: hidden; 
    overflow-y: auto;
    scroll-behavior: smooth;
}

.configScroll::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

.configScroll::-webkit-scrollbar-track {
    border-radius: 99px;
}

.configScroll::-webkit-scrollbar-thumb {
    background-color: #515E7B;
    border-radius: 99px;
}
  
.configScroll::-webkit-scrollbar-thumb:hover {
    background-color: #647499;
}

.configScroll::-webkit-scrollbar-corner { 
    background: transparent; 
}


#workArea {
    min-width: 41%;
}

#canvasBorder {
    overflow: auto;
    padding: 3em;
    display:grid;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    position: relative;
}

#canvasBorder::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

#canvasBorder::-webkit-scrollbar-track {
    background: #191d25;
    border-radius: 99px;
}

#canvasBorder::-webkit-scrollbar-thumb {
    background-color: #515E7B;
    border-radius: 99px;
}
  
#canvasBorder::-webkit-scrollbar-thumb:hover {
    background-color: #647499;
}

#canvasBorder::-webkit-scrollbar-corner { 
    background: transparent; 
}

#cnvBox {
    margin: auto;
    position: relative;
    width: 1080px;
    height: 1080px;
    cursor: default !important;
}

#cnvMain {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    cursor: default !important;
    background-color: white;
}

#cnvBG {
    width: 100%;
    height: 100%;
    background-color: "white";
    position: "absolute";
}

#cnvGrpPatterns {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}

#cnvGrpLayers {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}

.subMenu {
    width: 100%;
    height: 70px;
    display: flex;
    z-index: 1;
    position: relative;
    background-color: #1E222B;
}

#contZoom {
    width: 210px;
    height: 34px;
    margin: auto;
}

.divZoom {
    height: 32px;
    margin: auto;
    display: flex;
    border-radius: 999px;
    border: 1px solid #2E3646;
    transition: .2s;
}

#rngZoom {
    -webkit-appearance: none;  
    appearance: none;
    width: 150px; 
    height: 24px; 
    border-radius: 99px;
    outline: none; 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
    background: linear-gradient(to right, #2E3646 50%, transparent 50%);
}

#rngZoom::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 24px; 
    height: 24px; 
    background: #647499; 
    border-radius: 99px;
    cursor: pointer; 
    transition: .2s;
    z-index: 0;
}

#rngZoom::-webkit-slider-thumb:hover {
    background: white; 
}
  
#rngZoom::-moz-range-thumb {
    width: 14px; 
    height: 14px; 
    background: #647499; 
    border-radius: 99px;
    cursor: pointer; 
    transition: .2s;
}

#rngZoom::-moz-range-thumb:hover {
    background: white; 
}


.dropdownZoom {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
    margin-left: auto;
    width: 42px;
    height: 32px;
    display: flex;
    cursor: pointer;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

.dropdownZoom:hover #txtZoom {
    color: white;
}

#txtZoom {
    color: #647499;
    font-size: 12px;
    font-weight: 500;
    margin: auto;
    transition: .2s;
    outline: none;
    border: none;
    height: 32px;
    width: 32px;
    background-color: transparent;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}


.divZoom svg {
    margin: auto;
    width: 8px;
    height: 6px;
    transition: .2s;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

.dropOptionZoom {
    z-index: 1;
    width: 60px;
    height: auto;
    max-height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    position: relative;
    cursor: default;
    margin-left: auto;
    margin-top: 1px;
    display: none;
    background-color: #1E222B;
    border: 1px solid #2E3646;
    scroll-behavior: smooth;
}

.dropOptionZoom::-webkit-scrollbar {
    width: 1px;
}

.dropOptionZoom::-webkit-scrollbar-thumb {
    background-color: #6885CC;
    border-radius: 99px;
}
  
.dropOptionZoom::-webkit-scrollbar-thumb:hover {
    background-color: #6885CC;
}

.dropOptionZoom::-webkit-scrollbar-corner { 
    background: transparent; 
}

.optZoom {
    width: 100%;
    height: 40px;
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent;
}

.optZoom:hover {
    /*background-color: #2e374d; */
    background-color: #6885CC;
}


.border {
    width: 4px;
    height: 100%;
    position: relative;
    background-color: #282F3D;
    z-index: 1;
}

.footer {
    width: 100%;
    height: 4px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #282F3D;
    z-index: 1;
}

#adsBox {
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 100vh;
    z-index: 1;
    background-color: #1E222B;
}

#bodyAd {
    display: flex;
    width: 300px;
    min-width: 300px;
    height: 94.6%;
    margin-right: auto;
}

.ads {
    width: 100%;
    height: auto;
}

.btnHeader {
    width: 240px;
    height: 40px;
    margin: auto;
    margin-left: 16px;
    border-radius: 6px;
    display: flex;
    background: linear-gradient(#97b4ff 1%, #82a0ec 2%, #6581c7 100%);
    display: .2s;
}

.btnHeader:hover {
    background: linear-gradient(#6885CC 1%, #6885CC 2%, #6885CC 100%);
}

.btnHeader h2 {
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin: auto;
    letter-spacing: 1px;
}

.btnIcon {
    width: 40px;
    height: 40px;
    display: flex;
}

.vertiLine {
    height: 32px;
    width: 1px;
    background-image: linear-gradient(0deg, #82a0ec, #8aa8f5);
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 999px;
}

.btnIcon svg {
    margin: auto;
}

.pnlBox {
    width: 240px;
    min-width: 240px;
    height: auto;
    margin-right: auto;
    padding-bottom: 1em;
    border-radius: 9px;
    background-color: #343C4F;
    border: 1px solid #3f4961;
    overflow: hidden;
    transition: .1s;
    margin-bottom: .5em;
}

.pnlTitle {
    display: flex;
    width: 240px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #6885CC;
    background-color: transparent;
    transition: .1s;
}

.pnlTitle h2 {
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin: auto;
    letter-spacing: 1px;
}

.pnlEntry {
    display: flex;
    width: 210px;
    height: 40px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.pnlEntry h2 {
    color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: auto;
    margin-bottom: auto;
}

.pnlDrop {
    width: 210px;
    height: 40px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}


#pnlSize {
    justify-content: space-evenly;
}

.content {
    height: auto;
    width: 240px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    width: 210px;
    height: 32px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    outline: none;
    display: flex;
    transition: .2s;
    border-radius: 6px;
    border: 1px solid #515E7B;
}

.dropdown:hover {
    border: 1px solid #647499;
}

.dropdown h2{
    color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    margin: auto;
    cursor: pointer;
}

.dropdown svg{
    width: 8px;
    height: 6px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}

.dropOptionVerti {
    z-index: 5;
    width: 210px;
    height: auto;
    max-height: 156px;
    border-radius: 6px;
    background-color: #1E222B;
    display: none;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    padding-top: .4em;
    padding-bottom: .4em;
    scroll-behavior: smooth;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropOptionVerti::-webkit-scrollbar {
    width: 1px;
}

.dropOptionVerti::-webkit-scrollbar-track {
    background-color: transparent;
}

.dropOptionVerti::-webkit-scrollbar-thumb {
    background-color: #6885CC;
    border-radius: 99px;
}

.dropOptionVerti::-webkit-scrollbar-thumb:hover {
    background-color: #6885CC;
}

.dropOptionVerti::-webkit-scrollbar-corner { 
    background: transparent; 
}

.optBG {
    width: 100%;
    height: 32px;
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent;
}

.optBG:hover {
    background-color: #6885CC;
    /*background-color: #6885CC;*/
}

.optSize {
    width: 100%;
    height: 32px;
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent;
}

.optSize:hover {
    background-color: #6885CC;
}

.txtColorBG {
    width: 64px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border-radius: 3px;
    border: 1px solid #343C4F;
    background-color: transparent;
    transition: border .2s;
}

.txtColorBG:hover {
    border: 1px solid #515E7B;
}

.txtColorBG:focus {
    border: 1px solid #647499;
}

.txtMiniCanvas {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtMiniCanvas:hover {
    border-bottom: 1px solid #647499;
}

.txtMiniCanvas:focus {
    border-bottom: 1px solid #647499;
}

.txtSize {
    width: 30px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}


.txtLong {
    width: 120px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    cursor: default;
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    overflow: hidden;
    border: 1px solid #515E7B; 
    border: transparent; 
}

.txtLong h2 {
    color: white;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    text-overflow: clip;
    white-space: nowrap;
}

.thumbPicker {
    outline: none;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    cursor: pointer;
}

#pckSwap {
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 99px;
    border: 1px solid transparent;
    margin-left: auto;
    transition: border .2s;
    position: relative;
    left: -15px;
    top: 10px;
}

#pckSwap:hover {
    border: 1px solid #647499;
}


#pckSwap:focus {
    border: 1px solid #647499;
}

#pckSwap svg {
    scale: 1;
    margin: auto;
    transition: .2s;   
}

#pckSwap:hover svg {
    filter: saturate(0) brightness(2);
}

.breakline {
    background-color: #3F4961;
    width: 240px;
    height: 1px;
    margin-left: 16px;
    margin-right: auto;
    margin-bottom: .5em;
}

.breaklinePanel {
    background-color: #3F4961;
    width: 210px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    margin-top: 1em;
}

.breaklineHeader {
    background-color: #6885CC;
    width: 90%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}

.breaklineVerti {
    background-color: #2E3646;
    width: 90%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .4em;
    margin-bottom: .4em;
    cursor: pointer;
}

.breaklineDrag {
    width: 240px;
    height: 1px;
    margin-top: auto;
    margin-bottom: .5em;
    margin-right: auto;
    display: none;
    background-color: aquamarine;
}



.rngCanvas {
    -webkit-appearance: none;  
    appearance: none;
    width: 64px; 
    height: 1px; 
    border-radius: 99px;
    background: #647499; 
    outline: none; 
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
}
 
.rngCanvas::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 14px; 
    height: 14px; 
    background-color: white; 
    border-radius: 99px;
    cursor: pointer; 
    transition: .2s background-color;
}

.rngCanvas::-webkit-slider-thumb:hover {
    -webkit-appearance: none; 
    appearance: none;
    width: 14px; 
    height: 14px; 
    background-color: white; 
    border-radius: 99px;
    cursor: pointer; 
}
  
.rngCanvas::-moz-range-thumb {
    width: 14px; 
    height: 14px; 
    background-color: white; 
    border-radius: 99px;
    cursor: pointer; 
    transition: .2s background-color;
}

.rngCanvas::-moz-range-thumb:hover {
    width: 14px; 
    height: 14px; 
    background: white; 
    border-radius: 99px;
    cursor: pointer; 
}

#btnUploadBG {
    width: 66px;
    height: 22px;
    border: none;
    border-radius: 3px;
    background-color: #515E7B;
    outline: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-weight: 600;
    font-size: 12px;
    transition: .2s background-color;
    cursor: pointer;
}

#btnUploadBG:hover {
    background-color: #647499;
}

.numbox {
    width: 100%;
    height: 22px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    cursor: default;
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.divNumText {
    width: 74px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid #515E7B;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.divNumText:hover {
    border: 1px solid #647499;
}
