* {
    font-family: "Inter";
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  pointer-events: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-moz-selection {
    background: #8B9BC2;
}
  
::selection { 
    background: #8B9BC2;
}

h2 {
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

body {
    background-color: #1E222B;
}

#colorPickerPanel {
    width: 200px;
    height: 208px;
    border-radius: 9px;
    background-color: #343C4F;
    border: 1px solid #3F4961;
    margin: auto;
    display: flex;
    flex-direction: column;
    display: none;
    row-gap: 1em;
    position: fixed !important;
    z-index: 99 !important;
}

#colorBoard {
    width: 184px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, white, red);
}

#colorBoardBlack {
    width: 184px;
    height: 120px;
    position: absolute;
    background: linear-gradient(to bottom, transparent, black);
}

#colorBoardThumb {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 99px;
    position: absolute;
    top: -5px;
    left: -5px;
    cursor: pointer;
    box-shadow:0px 0px 0px 1px black inset;
}

#colorBarHue {
    width: 184px;
    height: 12px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 99px;
    position: relative;
    background: linear-gradient(to right, red, yellow, lightgreen, cyan, dodgerblue, mediumslateblue, magenta, tomato);
}

#colorBarThumb {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 99px;
    border: 2px solid white;
    cursor: pointer;
    top: -1px;
}

#colorValuesContainer {
    display: flex;
    width: 184px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.divColorValues {
    width: 102px;
    height: 26px;
    display: none;
    border: 1px solid #515E7B;
    justify-content: space-evenly;
    transition: .2s;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
}

.divColorValues:hover {
    border: 1px solid #647499;
}

.divColorValues:focus {
    border: 1px solid #647499;
}

.txtColorValues {
    width: 100%;
    height: 24px;
    outline: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    text-align: center;
    border: none;
    background-color: transparent;
}


#dropdownColorValue {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    height: 26px;
    width: 60px;
    transition: .2s;
    border-radius: 3px;
    border: 1px solid #515E7B;
    cursor: pointer;
    transition: .2s;
}

#dropdownColorValue h2 {
    color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    margin: auto;
}

#dropdownColorValue svg{
    width: 8px;
    height: 6px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}

#dropdownColorValue:hover {
    border: 1px solid #647499;
}


