* {
    margin: 0px;
    padding: 0px;    
    font-family: "Inter";
}

h2 {
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

img {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}


input[type=number]::-webkit-inner-spin-button,  /* hide number textbox increment / decrement buttons*/
input[type=number]::-webkit-outer-spin-button { /* hide number textbox increment / decrement buttons*/
  -webkit-appearance: none; 
}

input[type=number] {  /* hide number textbox increment / decrement buttons*/
  -moz-appearance: textfield;
}


::-moz-selection { /* Code for Firefox change color of text selections*/ 
   
    background: #9DAFDB;
  }
  
  ::selection { /*change color of text selections */ 

    background: #9DAFDB;
  }


body {
    display: flex;
    background-color: #1E222B;
}

#mainBox {
    width: 100vw;
    height: 100vh;
}

.headerUI {
    width: 100%;
    height: 5%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #282F3D;
}

#bodyUI {
    width: 100%;
    height: 94.2%;
    display: flex;
    background-color: #1E222B;
}

#toolbox {
    z-index: 1;
    width: 70px;
    height: 100%;
    background-color: #2E3646;
}

.tool {
    width: 70px;
    min-width: 70px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.tool svg{
    margin: auto;
   
    cursor: pointer;
}

#toolmenu {
    width: 260px;
    min-width: 280px;
    height: 100%;
    background-color: #394257;
    visibility: hidden;
    display: flex;
    z-index: 0;
    transition: .3s;
}

#workArea {
    width: 100%;
    height: 100%;
    display: flex;
}

#mainCanvas {
    background-color: white;
    aspect-ratio: 1/1;
    width: 50%;
    height: auto;
    margin: auto;
}

.border {
    width: 4px;
    height: 100%;
    background-color: #282F3D;
}

.footer {
    width: 100%;
    height: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #282F3D;
}

#adsBox {
    margin-left: 4px;
    width: 300px;
    min-width: 300px;
    height: 100vh;
}

#bodyAd {
    display: flex;
    width: 300px;
    height: 94.2%;
}

.ads {
    width: 100%;
    height: auto;
}


.menu {
    width: 100%;
    height: 100%;
}

.pnlBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.pnlEntry {
    display: flex;
    width: 210px;
    height: 70px;
    max-height: 70px;
}

.pnlEntry h2 {
    color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: auto;
    margin-bottom: auto;
}

.content {
    display: none;
}

.btnReset {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 99px;
    border: 1px solid #647499;
}

.btnReset img {
    margin: auto;
}

.dropdown {
    width: 210px;
    height: 32px;
    border: 1px solid #647499;
    border-radius: 99px;
    background-color: transparent;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
    outline: none;
    display: flex;
}

.dropdown h2{
    color: white;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    margin: auto;
    cursor: pointer;
}

.dropdown svg{
    width: 8px;
    height: 6px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}

.dropOptionVerti {
    z-index: 1;
    width: 210px;
    height: auto;
    max-height: 160px;
    overflow-y: auto;
    border-radius: 5px;
    position: absolute;
    background-color: #1E222B;
    display: none;
}

.dropOptionHori {
    z-index: 1;
    width: 210px;
    height: auto;
    max-height: 160px;
    overflow-y: auto;
    border-radius: 5px;
    position: absolute;
    background-color: #1E222B;
    display: none;
}

.optBG {
    width: 100%;
    height: 40px;
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent;
    transition: .1s background-color;
}

.optBG:hover {
    background-color: #9DAFDB;
}

.optPattern {
    width: 40px;
    height: 40px;
    display: flex;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.hoverPattern {
    width: 26px;
    height: 26px;
    border-radius: 3px;
    background-color: transparent;
    margin: auto;
    display: flex;
    transition: .1s background-color;
}

.hoverPattern:hover {
    background-color: #9DAFDB;
}

.refPattern {
    margin: auto;
}


.textbox {
    width: 64px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border-radius: 3px;
    border: 1px solid #515E7B;
    background-color: transparent;
    transition: border .1s;
}

.textbox:hover {
    border: 1px solid #647499;
}

.textbox:focus {
    border: 1px solid #647499;
}

.textboxMini {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}

.textboxMini:hover {
    border-bottom: 1px solid #647499;
}

.textboxMini:focus {
    border-bottom: 1px solid #647499;
}


.textboxLong {
    width: 120px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    cursor: default;
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    overflow: hidden;
    border: 1px solid #515E7B; 
    border: transparent; 
}

.textboxLong h2 {
    color: white;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    text-overflow: clip;
    white-space: nowrap;
}

.thumbPicker {
    outline: none;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    cursor: pointer;
}

#pckSwap {
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 99px;
    border: 1px solid transparent;
    margin-left: auto;
    transition: border .1s;
    position: absolute;
    left: 222px;
    top: 130px;
}

#pckSwap:hover {
    border: 1px solid #647499;
    
}


#pckSwap:focus {
    border: 1px solid #647499;
}

#pckSwap svg {
    scale: 1;
    margin: auto;
    transition: .1s;   
}

#pckSwap:hover svg {
    filter: saturate(0) brightness(2);
}


.breakLine {
    background-color: #4A5570;
    width: 210px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}


  .slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 64px; 
    height: 1px; 
    border-radius: 99px;
    background: #647499; 
    outline: none; 
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
  }
  

  .slider:hover {
    opacity: 1; 
  }
  
 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 14px; 
    height: 14px; 
    background: white; 
    border-radius: 99px;
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: white; /* Green background */
    border-radius: 99px;
    cursor: pointer; /* Cursor on hover */
  }

  #btnUploadBG {
    width: 66px;
    height: 22px;
    border: none;
    border-radius: 3px;
    background-color: #515E7B;
    outline: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-weight: 600;
    font-size: 12px;
    transition: .1s background-color;
    cursor: pointer;
  }

  #btnUploadBG:hover {
    background-color: #647499;
  }

  .numbox {
    width: 100%;
    height: 22px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    cursor: default;
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;

    }

  .divNumText {
    width: 74px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid #515E7B;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
   }

   .divNumText:hover {
        border: 1px solid #647499;
   }


.btnAddPoints {
    width: 22px;
    min-width: 22px;
    height: 22px;
    background-color: #515E7B;
    color: white;
    outline: none;
    border: none;
    transition: .1s background-color;
    margin-left: 1px;
}

.btnAddPoints:hover {
    background-color: #647499;
}

.btnAddPoints:active {
    background-color: #515E7B;
}

.btnMinusPoints {
    width: 22px;
    min-width: 22px;
    height: 22px;
    background-color: #515E7B;
    color: white;
    outline: none;
    border: none;
    transition: .1s background-color;
    margin-left: 1px;
}

.btnMinusPoints:hover {
    background-color: #647499;
}

.btnMinusPoints:active {
    background-color: #515E7B;
}


