
.cnvPatterns {
    width: "100%";
    height: "100%";
    overflow: "hidden";
    display: "grid";
    grid-template-columns: "repeat(10, 10px)";
    grid-gap: '0%';
    flex-wrap: "wrap";
    position: "absolute";
    visibility: visible;
    background-color: "transparent"
}

.pnlDropHeader {
    width: 240px;
    height: 40px;
    margin: auto;
    margin-left: 16px;
    margin-right: auto;
}

.dropOptionHeader {
    z-index: 1;
    width: 240px;
    height: auto;
    border-radius: 5px;
    position: relative;
    background-color: #1E222B;
    display: none;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    padding-top: .4em;
    padding-bottom: .4em;
    scroll-behavior: smooth;
}

.dropOptionHeader::-webkit-scrollbar {
    width: 2px;
}

  /* Handle */
.dropOptionHeader::-webkit-scrollbar-thumb {
    background-color: #515E7B;
    border-radius: 99px;
}
  
  /* Handle on hover */
.dropOptionHeader::-webkit-scrollbar-thumb:hover {
    background-color: #647499;
}

.dropOptionHeader::-webkit-scrollbar-corner { 
    background: transparent; 
}

.searchbox {
    width: 240px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    outline: none; 
    display: flex;
    transition: .2s;
    background-color: white;
}

.searchbox svg {
    width: 8px;
    height: 6px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}

.searchIcon {
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    background-color: white;
}

.searchIcon svg {
    margin: auto;
    width: auto;
    height: auto;
}

.txtSearch {
    width: 210px;
    height: 40px;
    outline: none;
    border: none;
    margin: auto;
    color: #343C4F;
    font-family: "Inter";
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.txtSearch::placeholder {
    color: #647499;
    font-weight: 400;
    opacity: 1; /* Firefox */
}
  
.txtSearch::-ms-input-placeholder { /* Edge 12 -18 */
    color: #647499;
    font-weight: 400;
}

.contPattern {
    width: 240px;
    min-width: 240px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.optPattern {
    width: 40px;
    height: 40px;
    display: flex;
}

.hoverPattern {
    width: 26px;
    height: 26px;
    display: flex;
    margin: auto;
    border-radius: 3px;
    cursor: pointer;
}

.hoverPattern:hover {
    background-color: #6885CC;
    
}

.hoverPattern svg {
    width: auto;
    height: auto;
    margin: auto;
}

.patTitle {
    width: 100%;
    height: 40px;
    display: flex;
    cursor: default;
    margin-top: .5em;
}

.patTitle h2 {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600px;
    cursor: default;
}

.pnlBoxPattern {
    width: 240px;
    min-width: 240px;
    height: auto;
    margin-right: auto;
    border-radius: 9px;
    margin-bottom: .5em;
    background-color: #343C4F;
    border: 1px solid #3F4961;
    overflow: hidden;
    transition: .1s;
}

.pnlTitlePattern {
    display: flex;
    width: 240px;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #6885CC;
    background-color: transparent;
}

.pnlTitlePattern h2 {
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin: auto;
    letter-spacing: 1px;
}

.contentPattern {
    width: 214px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    overflow: hidden;
}

.tabSliderPattern {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: .2s;
}

.tabBasicPattern {
    height: auto;
    width: 214px;
    margin-left: auto;
    margin-right: auto;
}

.pnlDropPattern {
    width: 210px;
    height: 40px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.tabStylePattern {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 214px;
}

.pnlBottomPatternTrack {
    background-color: #3F4961;
    width: 90%;
    height: 1px;
    margin: auto;
    top: 400px;
}

.pnlBottomPatternThumb {
    background-color: #6885CC;
    width: 50%;
    height: 1px;
    translate: 0%;
    transition: .2s;
}

.pnlBottomPattern {
    display: flex;
    width: 90%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #343C4F; 
    top: 400px;
}

.pnlBottomPattern h2:hover {
    color: #99B7FF;
}

.frBottom {
    width: 100%;
    height: 100%;
    display: flex;
}

.frBottom div {
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
}

.frBottom div:hover svg {
    filter: saturate(1) brightness(1.5);
}

.frBottom div svg{
    margin: auto;
}

.btnExpandCollapsePattern {
    width: 22px;
    height: 22px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12px;
    cursor: pointer;
    rotate: 0deg;
    transition: .2s;
}

.btnExpandCollapsePattern svg {
    margin: auto;
    width: auto;
    height: auto;
}

.txtHeaderPattern {
    margin: auto;
    width: 80px;
    height: 24px;
    outline: none;
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin: auto;
    text-align: center;
    cursor: default;
    letter-spacing: 1px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: .2s;
    background-color: transparent;
}

.btnShowHidePattern {
    width: 22px;
    height: 22px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 12px;
    cursor: pointer;
}

.btnShowHidePattern svg {
    margin: auto;
    width: auto;
    height: auto;
}

.dropdownPatternBlend {
    width: 210px;
    height: 32px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    outline: none;
    display: flex;
    transition: .2s;
    border-radius: 6px;
    border: 1px solid #515E7B;
}

.dropdownPatternBlend:hover {
    border: 1px solid #647499;
}

.dropdownPatternBlend h2{
    color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    margin: auto;
    cursor: pointer;
}

.dropdownPatternBlend svg{
    width: 8px;
    height: 6px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}


.optPatternBlend {
    width: 100%;
    height: 32px;
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent;
}

.optPatternBlend:hover {
    background-color: #6885CC;
    /*background-color: #6885CC;*/
}

.thumbPickerPattern {
    outline: none;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: #949EFF;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    cursor: pointer;
}

.txtColorPattern {
    width: 64px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border-radius: 3px;
    border: 1px solid #343C4F;
    background-color: transparent;
    transition: border .2s;
}

.txtColorPattern:hover {
    border: 1px solid #515E7B;
}

.txtColorPattern:focus {
    border: 1px solid #647499;
}

.rngPattern {
    -webkit-appearance: none;  
    appearance: none;
    width: 64px; 
    height: 1px; 
    border-radius: 99px;
    background: #647499; 
    outline: none; 
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
}
 
.rngPattern::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 14px; 
    height: 14px; 
    background-color: white; 
    border-radius: 99px;
    cursor: pointer; 
    transition: .2s background-color;
}

.rngPattern::-webkit-slider-thumb:hover {
    -webkit-appearance: none; 
    appearance: none;
    width: 14px; 
    height: 14px; 
    background-color: white; 
    border-radius: 99px;
    cursor: pointer; 
}
  
.rngPattern::-moz-range-thumb {
    width: 14px; 
    height: 14px; 
    background-color: white; 
    border-radius: 99px;
    cursor: pointer; 
    transition: .2s background-color;
}

.rngPattern::-moz-range-thumb:hover {
    width: 14px; 
    height: 14px; 
    background: white; 
    border-radius: 99px;
    cursor: pointer; 
}


.txtOpacityPattern {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtOpacityPattern:hover {
    border-bottom: 1px solid #647499;
}

.txtOpacityPattern:focus {
    border-bottom: 1px solid #647499;
}

.txtXPattern {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtXPattern:hover {
    border-bottom: 1px solid #647499;
}

.txtXPattern:focus {
    border-bottom: 1px solid #647499;
}

.txtYPattern {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtYPattern:hover {
    border-bottom: 1px solid #647499;
}

.txtYPattern:focus {
    border-bottom: 1px solid #647499;
}

.txtSizePattern {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtSizePattern:hover {
    border-bottom: 1px solid #647499;
}

.txtSizePattern:focus {
    border-bottom: 1px solid #647499;
}

.txtSpacingPattern {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtSpacingPattern:hover {
    border-bottom: 1px solid #647499;
}

.txtSpacingPattern:focus {
    border-bottom: 1px solid #647499;
}

.txtRandomSizePattern {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtRandomSizePattern:hover {
    border-bottom: 1px solid #647499;
}

.txtRandomSizePattern:focus {
    border-bottom: 1px solid #647499;
}

.txtRandomSpinPattern {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtRandomSpinPattern:hover {
    border-bottom: 1px solid #647499;
}

.txtRandomSpinPattern:focus {
    border-bottom: 1px solid #647499;
}

